# Ignore object files and binaries
*.o
*.out
*.exe
*.bin
*.elf

# Ignore build directories
/Control-Panel/build/
/Control-Panel/sdkconfig
/Sensor-Node/build
/Debug/
/STM32_Side/Drivers/
/STM32_Side/Debug

# Ignore logs
*.log

# Ignore editor-specific files
*.swp
.vscode/
.idea/
.DS_Store

# Ignore IDE-specific project settings
.settings/
*.mxproject
*.cproject
*.project
*.launch
